@*if you include that script multiple times 
    it will subscribe on the submit event multiple times 
    so you will get multiple submit with a single click.*@

<script type="text/javascript">
    $(document).ready(function () {
        var actionUrl = '@Url.Action("GetCommentsByGameId", "Comment", new {gameId = @ViewBag.GameId})';
        $.getJSON(actionUrl, displayData);
    });

    function displayData(response) {
        for (var i = 0; i < response.length; i++) {
            $("#commentList").append(
                "<li>"
                    + response[i].Body + " " + response[i].CreationDate + response[i].Name +
                    "<a href=\"javascript:AddParent("+response[i].Id+");\">Respond</a>"
                    + "</li>"
            );
        }
    }

    function AddParent(id) {
        alert("You will respond to comment with id = " + id);
        $("input[name*='parentCommentId']").val(id);
    }

    function OnSuccessNewComment() {
        alert("NewComment был успешно выполнен.\n");
        var url = '@Url.Action("Details", "Games", new { gameId = @ViewBag.GameId })';
        window.location.href = url;
    }
</script>

<h3>Comments</h3>
<ul id="commentList"></ul>
@using (Ajax.BeginForm("NewComment", new AjaxOptions { OnSuccess = "OnSuccessNewComment" }))
{
    <input type="hidden" name="gameId" value=@ViewBag.GameId />
    <input type="hidden" name="parentCommentId">
    <input type="text" name="content"/>
    <input type="submit" value="Send" />
}

    