<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="a.bug.tsvayer.com" version="1.0.0.0" />
  <package id="c.bug.tsvayer.com" version="1.0.1.0" />
  <package id="d.bug.tsvayer.com" version="1.0.0.0" />
  <package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework" version="11.0.50727.1" />
</packages>